#divcss5{ margin:10px auto} 
#divcss5 img{ border-radius:50%}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 

#loadMore a, a:visited {
    color: #33739E;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}
#loadMore a:hover {
    text-decoration: none;
}
#loadMore {
    padding: 10px;
    text-align: center;
    background-color: #009688;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    text-decoration: none;
  }

#loadMore:hover {
    background-color: #fff;
    color: #33739E;
}

.totop {
    position: relative;
    bottom: 10px;
    left: 90%;
}

.project-left{
	width: 40%;
	padding: 10px;
}

.project-right{
	width: 60%;
	padding: 10px;
	position: relative;
	left: 40%;
	bottom: 120px;
}
.project{
	width: 100%;
}